/*.table-view  {
    -fx-border-color: rgba(42, 40, 40, 0.91);
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-color:  transparent;}
.table-row-cell{
    -fx-border-color: black;
    -fx-background-color: rgba(133, 243, 202, 0.3);

}
.table-row-cell:hover{
    -fx-border-color: black;
    -fx-background-color: white;
}
*/

VBox {
    -fx-background-radius: 9px;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
    -fx-background-color: linear-gradient(to bottom, rgba(50, 243, 191, 0.2), rgb(255, 255, 255), rgb(255, 255, 255));
}

AnchorPane {
    /*-fx-background-color: linear-gradient(to right, rgba(8, 1, 136, 0.27), rgba(0, 212, 255, 0.27),rgba(8, 1, 136, 0.27));*/
    -fx-background-color: rgba(29, 187, 221, 0.18);
    -fx-background-image: url(../../images/sfondo.jpg);
    -fx-background-repeat: round;
}

.table-view {
    -fx-border-color: black;
    -fx-border-radius: 9px;
    -fx-background-radius: 9px;
}

ToolBar {
    -fx-background-color: rgba(13, 61, 148, 0.35);
    -fx-border-color: transparent;
}

.tab-header-area .tab-header-background {
    -fx-background-color: rgb(26, 66, 115);
}
.tab:selected {
    -fx-background-color: #87a6ab;
    -fx-focus-color:transparent;
    -fx-border-color: #87A6ABFF;
}
.tab {
    -fx-border-color: transparent;
    -fx-border-radius: 2px 2px 0 0 ;
}


Button, MenuButton {
    -fx-background-color: rgba(0, 0, 0, 0.08),
    linear-gradient(#9a9a9a, #909090),
    linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 5, 5, 4;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

Buton {
    -fx-padding: 3 30 3 30;
}

Button:focused {
    -fx-border-color: rgba(0, 0, 255, 0.56);
    -fx-border-radius: 3px;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}


.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    /*-fx-background-color: #93f9b911;*/
    -fx-background-color: #fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    /*-fx-background-color: #1dbbdd11;*/
    -fx-background-color: rgba(52, 255, 155, 0.2);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1dbbdd44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}


#anchorPaneVisualization, #anchorPaneQuery {
    -fx-background-image: url(../../images/sfondo.jpg);
}

#splitPaneVisualization , #splitPaneQuery{
    -fx-background-color: transparent;
}

.split-pane-divider {
    -fx-background-color: rgba(100, 229, 232, 0.42);
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

#tabVisualization:selected, #tabQuery:selected {
    -fx-background-color: #ACDAC0;
}

